{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scores/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="app">
            <div class="header">
                <span class="team team-left">
                    <span class="name">Team 1</span>
                </span>
                <span class="score">0-0</span>
                <span class="team team-right">
                    <span class="name">Team 2</span>
                </span>
            </div>
        </div>
    </div>
</body>
</html>